/* ==========================================================================
   Base

   Default settings
========================================================================== */
/* ==========================================================================
   Alerts

   Default Bootstrap Alert boxes. Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages
========================================================================== */
/* ==========================================================================
   Buttons

   Default Bootstrap and Mendix Buttons
========================================================================== */
/* ==========================================================================
   Datagrid Default

   Default Mendix Datagrid Widget. The datagrid shows a list of objects in a grid
========================================================================== */
/* ==========================================================================
   Datagrid Striped

   Default Mendix Datagrid Widget with striped rows
========================================================================== */
/* ==========================================================================
   Datagrid Bordered

   Default Mendix Datagrid Widget with borders
========================================================================== */
/* ==========================================================================
   Datagrid Hover

   Default Mendix Datagrid Widget with hover
========================================================================== */
/* ==========================================================================
   Datagrid Large

   Default Mendix Datagrid Widget with large rows
========================================================================== */
/* ==========================================================================
   Datagrid Transparent

   Default Mendix Datagrid Widget with transparent background for row and cells
========================================================================== */
/* ==========================================================================
   Datagrid Full Search

   Default Mendix Datagrid Widget with adjusted search field. Only 1 search field is allowed
========================================================================== */
/* ==========================================================================
   Dataview

   Default Mendix Dataview Widget. The data view is used for showing the contents of exactly one object
========================================================================== */
/* ==========================================================================
   Grid

   Default Mendix Grid
========================================================================== */
/* ==========================================================================
   Groupbox

   Default Mendix Groupboxes
========================================================================== */
/* ==========================================================================
   Groupbox Callouts

   Default Mendix Groupboxes rendered as (Bootstrap) callouts
========================================================================== */
/* ==========================================================================
   Inputs
========================================================================== */
/* ==========================================================================
   Listview

   Default Mendix Listview Widget. The list view shows a list of objects arranged vertically. Each object is shown using a template
========================================================================== */
/* ==========================================================================
   Listview Hover

   Default Mendix Listview Widget with hover
========================================================================== */
/* ==========================================================================
   Listview Lined

   Default Mendix Listview Widget with only border bottom in listview item
========================================================================== */
/* ==========================================================================
   Listview Striped

   Default Mendix Listview Widget with striped listview items
========================================================================== */
/* ==========================================================================
   Listview Seperated

   Default Mendix Listview Widget with listview items seperated
========================================================================== */
/* ==========================================================================
   Listview Stylingless

   Default Mendix Listview Widget with listview items seperated
========================================================================== */
/* ==========================================================================
   Modals

   Default Mendix Modals. Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults
========================================================================== */
/* Default Mendix Window Modal */
/* Default Mendix Login Modal */
/* ==========================================================================
   Navigation

   Default Mendix Navigation Bar
========================================================================== */
/* ==========================================================================
   Navigation

   Default Mendix Navigation Tree
========================================================================== */
/* ==========================================================================
   Navigation

   Default Mendix Simple Menu Bar
========================================================================== */
/* Vertical variation specifics */
/* ==========================================================================
   Navigation List

   Default Mendix Navigation List Widget. A navigation list can be used to attach an action to an entire row. Such a row is called a navigation list item
========================================================================== */
/* ==========================================================================
   Navigation List Hover

   Default Mendix Navigation List Widget with hover
========================================================================== */
/* ==========================================================================
   Navigation List Lined

   Default Mendix Navigation List Widget border top between navigation list items
========================================================================== */
/* ==========================================================================
   Tab Container

   Default Mendix Tab Container Widget. Tab containers are used to show information categorized into multiple tab pages. 
   This can be very useful if the amount of information that has to be displayed is larger than the amount of space on the screen
========================================================================== */
/* ==========================================================================
   Tab Container Pills

   Default Mendix Tab Container Widget rendered as Pills
========================================================================== */
/* ==========================================================================
   Tab Container Lined

   Default Mendix Tab Container Widget rendered with tabs rendered without background
========================================================================== */
/* ==========================================================================
   Tab Container Justified

   Default Mendix Tab Container Widget rendered as justified
========================================================================== */
/* ==========================================================================
   Tab Container Bordered

   Default Mendix Tab Container Widget rendered with borders
========================================================================== */
/* ==========================================================================
   Tables

   Default Mendix Table Widget. Tables can be used to lend structure to a page. They contain a number of rows (tr) and columns, the intersection of which is called a cell (td). Each cell can contain widgets
========================================================================== */
/* Default Mendix Table Widget inside TemplateGrid */
/* Default Mendix Table Widget inside Listview */
/* ==========================================================================
   Tables Lined
	
   Default Mendix Table Widget with borders top and bottom
========================================================================== */
/* ==========================================================================
   Tables Bordered
	
   Default Mendix Table Widget with borders
========================================================================== */
/* ==========================================================================
   Tables Compact
	
   Default Mendix Table Widget with less spacing in table cells
========================================================================== */
/* ==========================================================================
   Tables Sideless
	
   Default Mendix Table Widget inside TemplateGrid
========================================================================== */
/* ==========================================================================
   Tables Spaceless
	
   Default Mendix Table Widget without padding
========================================================================== */
/* ==========================================================================
   Tables Vertical
	
   Default Mendix Table Widget vertical aligned 
========================================================================== */
/* ==========================================================================
   Tables Vertical Middle
	
   Default Mendix Table Widget vertical aligned middle
========================================================================== */
/* ==========================================================================
   Tables Compact
	
   Default Mendix Table Widget without padding and margin
========================================================================== */
/* ==========================================================================
   Tables Row Sizes
========================================================================== */
/*  Small rows  */
/*  Medium rows */
/*  Large rows */
/* ==========================================================================
   Templategrid

   Default Mendix Templategrid Widget. The template grid shows a list of objects in a tile view. For example, a template grid can show a list of products. The template grid has a lot in common with the data grid. The main difference is that the objects are shown in templates (a sort of small data view) instead of rows
========================================================================== */
/* ==========================================================================
   Templategrid Hover

   Default Mendix Templategrid Widget Hover
========================================================================== */
/* ==========================================================================
   Templategrid Selectable

   Default Mendix Templategrid Widget with selection enabled
========================================================================== */
/* ==========================================================================
   Templategrid Lined

   Default Mendix Templategrid Widget with borders between items
========================================================================== */
/* ==========================================================================
   Templategrid Striped

  Default Mendix Templategrid Widget with background between items
========================================================================== */
/* ==========================================================================
   Templategrid Stylingless

  Default Mendix Templategrid Widget without styling
========================================================================== */
/* ==========================================================================
   Templategrid Transparent

  Default Mendix Templategrid Widget without background and padding in items
========================================================================== */
/* ==========================================================================
   Typography
========================================================================== */
/* Text Weights */
/* ==========================================================================
   Typography

   Text Utility Classes
========================================================================== */
/* ==========================================================================
   Typography

   Text Colors
========================================================================== */
/* ==========================================================================
   Regions

   Used for navigation layouts
========================================================================== */
/* ==========================================================================
   Navbar Brand

   Used to style your app brand and logo
========================================================================== */
/* ==========================================================================
   Layout

   Default Mendix Layout
========================================================================== */
/* ==========================================================================
   Listview for phone and tablet
========================================================================== */
.profile-phone,
.profile-tablet {
  /* Listview Load More button */ }
  .profile-phone .mx-listview .mx-listview-searchbar,
  .profile-tablet .mx-listview .mx-listview-searchbar {
    /* Reset Search Button - default hidden */
    /* Search Field */ }

/* ==========================================================================
   Header

   Default Mendix Header for Mobile 
========================================================================== */
/* ==========================================================================
   Tabcontainer

   Default Mendix Tabcontainer for Mobile 
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Dashboard
========================================================================== */
.page-dashboard {
  background-color: #eff4f7; }
  .page-dashboard .chartjs-node {
    margin-top: 30px; }

.page-dashboard-default .card {
  min-height: 345px; }

.page-dashboard-mytasks .card {
  min-height: 320px; }

/* ==========================================================================
   Special styles for presenting Page Template Form
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Master Detail
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Tabs
========================================================================== */
.page-tabs .tabsfullwidth {
  background-color: #eff4f7; }

.page-tabs-fullwidth .pageheader.pageheader-fullwidth {
  border-style: none; }

/* ==========================================================================
   Special styles for presenting Page Template Website
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Wizard
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Phone
========================================================================== */
.phone-page-dashboard {
  background-color: #eff4f7; }

/* ==========================================================================
   Special styles for presenting Page Template Phone Form
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Phone Listview
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Phone Wizard
========================================================================== */
/* ==========================================================================
   Special styles for presenting Page Template Tablet Dashboard
========================================================================== */
.tablet-page-dashboard {
  background-color: #eff4f7; }

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Form
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Form Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Form Edit
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Master Detail
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Master Detail Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Master Detail Left Right
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Wizard
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Wizard Default
*/
/* ==========================================================================
   Card
========================================================================== */
/* Title + button + border below title and button */
/* ==========================================================================
   Dashboard Card
========================================================================== */
/* ==========================================================================
   Dashboard Stats

   Used in dashboard
========================================================================== */
/* ==========================================================================
   Form

   To extend the default form
========================================================================== */
/* ==========================================================================
   Form Block

   Used in default forms
========================================================================== */
/* ==========================================================================
   Master Detail Listview
========================================================================== */
/* ==========================================================================
   Page Header
========================================================================== */
/* ==========================================================================
   Section Header
========================================================================== */
/* ==========================================================================
   Profile Card
========================================================================== */
/* ==========================================================================
   Profile Header
========================================================================== */
/* ==========================================================================
   Products

   Used in Website page templates
========================================================================== */
/* ==========================================================================
   Section

   Arrange spacing
========================================================================== */
/* ==========================================================================
   Sidebar Header
========================================================================== */
/* ==========================================================================
   Tabs full width
========================================================================== */
/* ==========================================================================
   Wizard

   Styling for Wizard (Steps/Numbers)
========================================================================== */
.wizard {
  /* Wizard line between steps */ }

/* Phone Specific Styling */
/* ==========================================================================
   Templategrid Profile Card

   Profile card styled for templategrid
========================================================================== */
