/*
* Base
*
* Default settings
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Alerts
*
* Default Bootstrap Alert boxes. Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Buttons
*
* Default Bootstrap and Mendix Buttons
*/
/*
* Buttons Alternate Style
*
*
*/
/* Buttons appear disabled */
/* Transparent Buttons */
/*
* Buttons Sizes
*
* Combined with Bootstrap
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Datagrid
*
* Default Mendix Datagrid Widget. The datagrid shows a list of objects in a grid
*/
/* line 13, components/_datagrids.scss */
.mx-datagrid .mx-datagrid-head-table {
  /* Table header */
}
/* line 27, components/_datagrids.scss */
.mx-datagrid .mx-datagrid-body-table {
  /* Table body */
  /* Table footer */
}
/* line 31, components/_datagrids.scss */
.mx-datagrid .mx-datagrid-body-table .mx-datagrid-body tr td {
  /* Text without spaces */
}

/*
* Datagrid Striped
*
* Default Mendix Datagrid Widget with striped rows
*/
/* line 83, components/_datagrids.scss */
.datagrid-striped.mx-datagrid .mx-datagrid-body-table {
  /* Body */
}

/*
* Datagrid Bordered
*
* Default Mendix Datagrid Widget with borders
*/
/*
* Datagrid Hover
*
* Default Mendix Datagrid Widget with hover
*/
/*
* Datagrid Large
*
* Default Mendix Datagrid Widget with large rows
*/
/*
* Datagrid Transparent
*
* Default Mendix Datagrid Widget with transparent background for row and cells
*/
/*
* Datagrid Full Search
*
* Default Mendix Datagrid Widget with adjusted search field. Only 1 search field is allowed
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Dataview
*
* Default Mendix Dataview Widget. The data view is used for showing the contents of exactly one object
*/
/* line 12, components/_dataview.scss */
.mx-dataview {
  /* Control bar */
}
/* line 15, components/_dataview.scss */
.mx-dataview .mx-dataview-controls {
  /* Buttons */
}

/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Grid
*
* Default Mendix Grid
*/
/* line 14, components/_grid.scss */
.mx-grid .mx-grid-controlbar {
  /* Paging */
}
/* line 17, components/_grid.scss */
.mx-grid .mx-grid-controlbar .mx-grid-pagingbar {
  /* Buttons */
  /* Text Paging .. to .. to .. */
}
/* line 33, components/_grid.scss */
.mx-grid .mx-grid-controlbar .mx-grid-searchbar {
  /* Input search item */
}
/* line 34, components/_grid.scss */
.mx-grid .mx-grid-controlbar .mx-grid-searchbar .mx-grid-search-item {
  /* Label search item */
}
/* line 41, components/_grid.scss */
.mx-grid .mx-grid-controlbar .mx-grid-searchbar .mx-grid-search-input {
  /* Buttons search item */
}

/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Groupbox
*
* Default Mendix Groupboxes
*/
/*
* Groupbox Headers
*
* Alternate header sizes for groupbox
*/
/*
* Groupbox Callouts
*
* Default Mendix Groupboxes rendered as (Bootstrap) callouts
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Inputs
*
* Default input fields
*/
/* Not editable textarea, textarea will be rendered as a label */
/* Input and textarea get properly aligned */
/*
* Inputs Readonly
*
* Default input fields
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Listview
*
* Default Mendix Listview Widget. The list view shows a list of objects arranged vertically. Each object is shown using a template
*/
/* line 13, components/_listview.scss */
.mx-listview {
  /* Clear search button (overrides load more button stying) */
  /* Load more button */
}
/* line 16, components/_listview.scss */
.mx-listview .mx-button.mx-listview-clear-button {
  width: auto;
}

/*
* Listview Hover
*
* Default Mendix Listview Widget with hover
*/
/*
* Listview Lined
*
* Default Mendix Listview Widget with only border bottom in listview item
*/
/*
* Listview Striped
*
* Default Mendix Listview Widget with striped listview items
*/
/*
* Listview Seperated
*
* Default Mendix Listview Widget with listview items seperated
*/
/*
* Listview Stylingless
*
* Default Mendix Listview Widget without styling
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Modals
*
* Default Mendix Modals. Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults
*/
/*
* Modals
*
* Default Mendix Modal
*/
/*
* Modals
*
* Default Mendix Login Modal
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Navigation
*
* Default Mendix Navigation Bar
*/
/* line 14, components/_navigation.scss */
.mx-navbar ul.nav {
  /* Navigation item */
  /* When hovering or the dropdown is open */
}
/* line 17, components/_navigation.scss */
.mx-navbar ul.nav > li.mx-navbar-item > a {
  /* Dropdown arrow */
  /* Dropdown Menu */
}

/*
* Navigation
*
* Default Mendix Navigation Tree
*/
/* line 93, components/_navigation.scss */
.mx-navigationtree {
  /* Navigation item */
  /* Sub navigation item */
}

/*
* Navigation
*
* Default Mendix Simple Menu Bar
*/
/* line 154, components/_navigation.scss */
.mx-menubar {
  /* Two menu items */
  /* Three menu items */
  /* Four menu items */
  /* Five menu items */
}

/* Vertical variation specifics */
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Navigation List
*
* Default Mendix Navigation List Widget. A navigation list can be used to attach an action to an entire row. Such a row is called a navigation list item
*/
/*
* Navigation List Hover
*
* Default Mendix Navigation List Widget with hover
*/
/*
* Navigation List Lined
*
* Default Mendix Navigation List Widget border top between navigation list items
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Tab Container
*
* Default Mendix Tab Container Widget. Tab containers are used to show information categorized into multiple tab pages. 
* This can be very useful if the amount of information that has to be displayed is larger than the amount of space on the screen
*/
/*
* Tab Container
*
* Default Mendix Tab Container Widget rendered as Pills
*/
/*
* Tab Container
*
* Default Mendix Tab Container Widget rendered with tabs rendered without background
*/
/*
* Tab Container
*
* Default Mendix Tab Container Widget rendered as justified
*/
/*
* Tab Container
*
* Default Mendix Tab Container Widget rendered with borders
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Tables
*
* Default Mendix Table Widget. Tables can be used to lend structure to a page. They contain a number of rows (tr) and columns, the intersection of which is called a cell (td). Each cell can contain widgets
*/
/* line 13, components/_tables.scss */
table.mx-table > tbody {
  /* Table row */
}
/* line 16, components/_tables.scss */
table.mx-table > tbody > tr {
  /* Table header */
  /* Table cells */
}

/*
* Tables
*
* Default Mendix Table Widget inside TemplateGrid
*/
/*
* Tables
*
* Default Mendix Table Widget inside Listview
*/
/*
* Tables Lined
*
* Default Mendix Table Widget with borders top and bottom
*/
/*
* Tables Bordered
*
* Default Mendix Table Widget with borders
*/
/*
* Tables Compact
*
* Default Mendix Table Widget with less spacing in table cells
*/
/*
* Tables Sideless
*
* Default Mendix Table Widget inside TemplateGrid
*/
/*
* Tables Spaceless
*
* Default Mendix Table Widget without padding
*/
/*
* Tables Vertical
*
* Default Mendix Table Widget vertical aligned 
*/
/*
* Tables Vertical Middle
*
* Default Mendix Table Widget vertical aligned middle
*/
/*
* Tables Compact
*
* Default Mendix Table Widget without padding and margin
*/
/*
* Tables Row Sizes
*
* Default Mendix Table Widget without padding and margin
*/
/*  Small rows  */
/*  Medium rows */
/*  Large rows */
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Templategrid
*
* Default Mendix Templategrid Widget. The template grid shows a list of objects in a tile view. For example, a template grid can show a list of products. The template grid has a lot in common with the data grid. The main difference is that the objects are shown in templates (a sort of small data view) instead of rows
*/
/*
* Templategrid Hover
*
* Default Mendix Templategrid Widget Hover
*/
/*
* Templategrid Selectable
*
* Default Mendix Templategrid Widget with selection enabled
*/
/*
* Templategrid Lined
*
* Default Mendix Templategrid Widget with borders between items
*/
/*
* Templategrid
*
* Default Mendix Templategrid Widget with background in items
*/
/*
* Templategrid Stylingless
*
* Default Mendix Templategrid Widget without styling
*/
/*
* Templategrid Transparent
*
* Default Mendix Templategrid Widget without background and padding in items
*/
/*
* Mendix Documentation
* Special styles for presenting components
*/
/*
* Typography
*
* Default Headers. 
*/
/*
* Text Weights
*
* 
*/
/*
* Text Utility Classes
*
* Default Headers
*/
/*
* Text Colors
*
* 
*/
/*
* Base Layout
*
* Default layout settings
*/
/*
* Regions
*
* Used for navigation layouts
*/
/*
* Navbar Brand
*
* Used to style your app brand and logo
*/
/*
* Mendix Documentation
* Special styles for presenting mobile components
*/
/*
* Layout
*
* Default Mendix Layout 
*/
/*
* Mendix Documentation
* Special styles for presenting mobile components
*/
/*
* Listview
*
* Default Mendix Listview 
*/
/* line 14, mobile/components/_listview.scss */
.profile-phone,
.profile-tablet {
  /* Listview Load More button */
}
/* line 16, mobile/components/_listview.scss */
.profile-phone .mx-listview .mx-listview-searchbar,
.profile-tablet .mx-listview .mx-listview-searchbar {
  /* Reset Search Button - default hidden */
  /* Search Field */
}

/*
* Mendix Documentation
* Special styles for presenting mobile components
*/
/*
* Header
*
* Default Mendix Header for Mobile 
*/
/*
* Mendix Documentation
* Special styles for presenting mobile components
*/
/*
* Tabcontainer
*
* Default Mendix Tabcontainer for Mobile 
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Dashboard
*/
/* line 5, pagetemplates/responsive/_page-dashboard.scss */
.page-dashboard {
  background-color: #eff4f7;
}
/* line 7, pagetemplates/responsive/_page-dashboard.scss */
.page-dashboard .chartjs-node {
  margin-top: 30px;
}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Dashboard Default
*/
/* line 18, pagetemplates/responsive/_page-dashboard.scss */
.page-dashboard-default .card {
  min-height: 345px;
}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Dashboard My Tasks
*/
/* line 29, pagetemplates/responsive/_page-dashboard.scss */
.page-dashboard-mytasks .card {
  min-height: 320px;
}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Dashboard Actions
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Dashboard Actions Tasks List
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form Image and Map
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form Image and Map
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Master Detail
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Master Basic
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Master Detail Big
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Master Detail Big Edit
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Master Detail Multi Level
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tabs
*/
/* line 6, pagetemplates/responsive/_page-tabs.scss */
.page-tabs .tabsfullwidth {
  background-color: #eff4f7;
}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tabs Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tabs Full Width
*/
/* line 26, pagetemplates/responsive/_page-tabs.scss */
.page-tabs-fullwidth .pageheader.pageheader-fullwidth {
  border-style: none;
}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Website
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Website Actions
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Website Items
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Website Items Detail
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Website Presentation
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Wizard
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Wizard Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Wizard Title Centered
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Dashboard
*/
/* line 5, pagetemplates/phone/_phone-page-dashboard.scss */
.phone-page-dashboard {
  background-color: #eff4f7;
}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Dashboard Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Form
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Form Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Form Edit
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Listview
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Listview Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Wizard
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Phone Wizard Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Dashboard
*/
/* line 5, pagetemplates/tablet/_tablet-page-dashboard.scss */
.tablet-page-dashboard {
  background-color: #eff4f7;
}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Dashboard Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Dashboard Big
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Dashboard My Tasks
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Form
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Form Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Form Edit
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Master Detail
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Master Detail Default
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Master Detail Left Right
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Wizard
*/
/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Tablet Wizard Default
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Card
*
* 
*/
/* Title + button + border below title and button */
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Dashboard Card
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Dashboard Stats
*
* Used in dashboard
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Form
*
* Extend your form
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Form Block
*
* Used in default forms
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Master Detail Listview
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Page Header
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Section Header
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Profile Card
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Profile Header
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Products
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Section
*
* Arrange spacing
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Sidebar Header
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Tabs full width
*
* 
*/
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Wizard
*
* Styling for Wizard (Steps/Numbers)
*/
/* line 13, buildingblocks/_wizard.scss */
.wizard {
  /* Wizard line between steps */
}

/* Phone Specific Styling */
/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/
/*
* Templategrid Profile Card
*
* Profile card styled for templategrid
*/
